unpackaged/main/default/flows/Account_Auto_number_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>SetAccountCount</name>
        <label>Set Account Count</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>AccountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Number</targetReference>
        </connector>
    </assignments>
    <description>Creates and Sets the account Autonumber</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateAccountNumber</name>
        <dataType>Number</dataType>
        <expression>100010001 + {!AccountCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormatNumberToText</name>
        <dataType>String</dataType>
        <expression>TEXT({!CalculateAccountNumber})</expression>
    </formulas>
    <interviewLabel>Account: Auto-number Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Auto-number Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAccountCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <sortField>AccountNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Account_Number</name>
        <label>Add Account Number</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>FormatNumberToText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AccountNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Number__c</objectType>
    </variables>
</Flow>
